<p class="title">{{this.title}}</p>
<div class='background' aria-disabled="false">
  <div class="before-upload-field">
    <img src="../../../../assets/images/upload.svg" />
    <div class="select-a-file">
      <p class="select-a-file-text">Select a file</p>
      <p>or drag it here</p>
    </div>
  </div>

  <div class="after-upload-field" hidden>
    <img src="../../../../assets/images/ok.svg" />
  </div>
  <input
    type="file"
    accept='.jpg, .png'
    (change)="onChange($event)"
  />
</div>
